	

																       /*ALL*/


		html {/*this is the whole html*/
			scroll-behavior: smooth; /*for the smooooooooooothhhhh scrollin*/
		}	

		body { /* this is the body*/
			margin: 0;
		   padding: 0;

		}	  

		header { /*this is the header*/
			z-index: 1;
		  	position: sticky;
		  	position: sticky;
		  	font-size: 20px;
		 	top:  0;
		  	border-bottom: #EAEAEA solid;
			}

		#scroll { /*the thingy that tps u up*/
			z-index: 1;
			float: right;
			position: sticky; 
			position: sticky;
			top: 92%;
		    width:  80px;
		    height:  80px; 
		    background: url('../images/sprite.png') -87px -389px; 


		}

		#scroll:hover { /*starts the submarine animation when  u hover*/
		    animation-name: submar;
 			animation-duration: 6s;
 			animation-iteration-count: infinite;			
		}

		@keyframes submar {
			/*animates the submarine, cool*/
		0% {
			transform: translate(0, 0);
		
		} 	
		20% {
			transform: translate(-10px, 0px);
		
		} 		

		40% {
			transform: translate(0px, -5px);
	
		} 
		60% {
			transform: translate(0px, 0px);
		}
		80%	{
			transform: translate(-8px, -4px);
		}	

		}

		#logoo{/*logo*/
			width:  10px;
			padding-left: -20px; 
			top: 0;
			display: inline-block;
			color: #EAEAEA;
		}

		#nav{ /*nav bar*/
			width: 700px;
			float: right;

			}

		#nav a { /*styles the links inside nav div*/
			font-size: 20px;
			display: inline-block;
			color:  #EAEAEA;
			text-decoration: none;
			padding-right: 5%;
		}

		#nav a:active { /* makes it so that the text goes down, like a button. Boop*/

		transform: translateY(4px);

		}























	    footer {  /* footer!*/
	    	width: 100%;
	    	padding: 0;

	    		
	    }

	    #rilogow { 
	    	transform: scale(.4); /* 40% smaller kasi idk how else to make the huge logo smaller*/
	    	width:  250px;
	    	height:  150x;
	    	margin: -40px;
	    	background: url('../images/sprite.png') -5px -207px;
	    }



	    #socmedborder {
	    	background-color: white; /*holds both the fb and yt divs together and provides a noice white border that exists even with different screen sizes*/
	    	padding: 1px; 
	    }

	    #facebok {          /* div that holds fb img*/
	    	display: inline-block;
	    	width: 49.86%;
	    	margin: 0;
	    	border: 1px white solid;


	    }


	    #yt {
	    	border: 1px white solid;   /* div that holds yt img*/
	    	display: inline-block;
	    	float: right;
	    	width: 49.86%;
	    	margin: 0;
	    }

	    #facebok img { /* fb img*/
	    	width:  155px;
	    	height:  150px;
	    	background: url('../images/sprite.png') -26px -22px;
	    }

	    #yt img { /* yt img */
	    	width:  155px;
	    	height:  150px;
	    	background: url('../images/sprite.png') -184px -22px;

	    }

	    footer #socmedborder:hover{ /* make background fit the glow-ish*/
	    	background-color: #fdeca6;
	    }
	    footer section{/* styles the section (references part) in all footers*/
	    	    padding:  10px;
	    	    padding-top: 20px;
	    		text-align: left;
	    		font-size: 20px;
	    		border-bottom: 2px white solid;	
	    }

	    #f img{
	    	transition: 1s;/*transition time for the glowwww para cool*/
	    }
	    #y img{
	    	transition: 1s;/*transition time for the glowwww para cool*/
	    }

	    footer #f:hover img{/* gives glow effect when hover*/
				border-radius: 50%;
				background-color: #e8df62;	
	    		box-shadow: 
	    		0 0 6px 3px #e4df90,  
   				0 0 10px 10px #e4df90, 
    			0 0 100px 90px #fcf9ce; 

	    }

	    footer #y:hover img{ /* gives glow effect when hover*/
	    	
				border-radius: 50%;
				background-color: #e8df62;	
	    		box-shadow: 
	    		0 0 6px 3px #e4df90,  
   				0 0 10px 10px #e4df90, 
    			0 0 100px 90px #fcf9ce; 
	    	
	    }



	    










    																	/*INDEX*/

		#bodyin { /*gives color to body specifically to this page*/
		   background-color: #97D2EC;
		}


		#bodyin article{ /* the article that holds the content*/

			color: black;
			margin: 70px;
			background-color: #86B5D2;
			margin-bottom: 150px;

		}

		#bodyin article p{ /* the text inside lng, not counting title*/
			padding: 20px;
			padding-bottom: 50px;
			font-size: 19px;
		}

		#titleindex{ /* title of the content on this page plus the name of my advocacy*/
			font-size: 30px;
			background-color: #5F6F94;
			color: white;
			padding: 10px;
		}



		#headerin {/*gives color to header specifically to this page*/
			background-color: #25316D;
		}

		#footerin #facebok, #footerin #yt, #footerin { /*stuf specifically for the footer of this page*/
			text-align: center;
			color: white;
			background-color: #5F6F94;
		}





 																		/*PAGE2*/
		#bodyp2 article{ /* the article that holds the content of this page*/

			color: black;
			margin: 70px;
			background-color: #88B8D5;
			margin-bottom: 150px;
			font-size: 20px;
			padding: 10px;

		}

		#textura{/*the text part of this website*/
		width: 70%;
		display: inline-block;
		}

		#swim { /* the spacing of the cool pic next to text and stuff, floated tot he right*/
		margin-top: 2%;
		padding-right: 10px;
		width: 29%;
		display: inline-block;
		text-align: center;
		float: right;

		}

		#swim img{ /* the cool swim pic next to the text*/
			
			width:  200px;
	    	height:  150px;
	    	background: url('../images/sprite.png') -258px -377px;
		}




		/** BEGIN accordion css **/ /*I tried doing this part with only pseudoclasses (more specifically, the visited and link classes),
		 but it has wasted me hours and hours upon coding. So I decided to use an accordion nlng hehe*/

		.accordion { /* the accrodiaon*/
			  background-color: #789CBC;
			  color: black;
			  cursor: pointer;
			  padding: 18px;
			  width: 100%;
			  border: none;
			  text-align: center;
			  outline: none;
			  font-size: 20px;
			  transition: 0.4s;
		}

		.active, .accordion:hover { /*changes the color of the accordion when u hover para cool B)*/
			  background-color: #25316D; 
			  color: white;
		}

		.panel { /* for the panel that pops out*/
			  padding: 0 18px;
			  display: none;
			  background-color: #789CBC;
			  overflow: hidden;
		}

		/** END accodtion css **/



		#bodyp2 {/*gives color to body specifically to this page*/
		   background-color: #5F6F94;
		}
		#headerp2 {/*gives color to header specifically to this page*/
			background-color: #25316D;
		}
		#footerp2 #facebok, #footerp2 #yt, #footerp2{/*stuf specifically for the footer of this page*/
			color: white;
			text-align: center;
			background-color: #25316D;
		}






   																		 /*PAGE3*/


		#bodyp3 {/*gives color to body specifically to this page*/
		   background-color: #25316D;
		}

		#titleinfo{ /*title stuff*/
			margin-top: 100px;
			margin-left: 70px;
			margin-right: 70px;
			margin-bottom: 0;
			background-color: #86B5D2;
			color: white;
			font-size: 30px;
			text-align: center;
			padding: 10px;
		}
		#bodyp3 article{ /*ze article with my abt us stuff*/
			color: white;
			margin: 0 70px 150px 70px;
			background-color: #435C8F;
			font-size: 20px;
			padding: 12px;	
			padding-bottom: 200px;	
		}

		#bodyp3 article section{ /*holds my butfil img*/
			width: 50%;
			display: inline-block;
			float: right;
			padding-right: 100px;
			text-align: center;
		}

		#bodyp3 article img{ /*my butiful img*/
			width: 40%;
		}

		#bodyp3 article p{ /*the contacts part*/
			width: 40%;
			display: inline-block;
		}




		#headerp3 {/*gives color to header specifically to this page*/
			background-color: #5F6F94;
		}
		#footerp3 #facebok, #footerp3 #yt, #footerp3 {/*stuf specifically for the footer of this page*/
			color: white;
			text-align: center;
			background-color: #121837;
		}

                                                            /* SURVEY*/


       .opt { /*makes options to the right of an option away*/
       	margin-right: 30px;
       	display: inline-block;
       }

       .opt img{ /*the circle u can click*/

  			width:  45px;
	    	height:  45px;
	    	background: url('../images/sprite.png') -20px -464px;     	
       }

       #bodys { /*makes sure bg color is white*/
       	background-color: white;
       }


       #o1:link img{/*unclicked, white*/
       	background-color: white;
       }
       #o2:link img{ /*unclicked, white*/
       	background-color: white;
       }

       #o1:visited img{/*clicked, green*/
       	background-color: green;
       }

       #o2:visited img{ /*clicked, green*/
       	background-color: green;
       }


      #bodys a:link article{/*the thing that appears and dissapears once u answer*/
       	color: white;
      }

      #bodys a:visited article{/*appears!!! voala*/
       color: black;
 	  }

 	                                                      /* SIGN UP*/


 	   #bodysign img{ /*NOOOO ITS LOADING*/
			width:  70px;
	    	height:  70px;
	    	background: url('../images/sprite.png') -162px -453px;
	    	animation-name: loading;
	    	animation-duration: 50s;
	    	animation-iteration-count: infinite;
 	   }

 	   @keyframes loading /*sadge, its loading ;-;*/
 	  {
 	  	0% {}
 	  	50%{transform: rotate(-1000deg); }
 	  	100% {transform: rotate(-2000deg);}
 	  }